#diagrams {
  grid-row: 2;
  grid-column: 3;
  position: relative;
  z-index: -1;  /* Place below gripper */
}

.diagram {
  padding: 1em;
  cursor: move;
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.diagram.active {
  display: block;
}

.canvas {
  overflow: visible;
}
